a {
  color: rgb(0, 180, 0);
  text-decoration: none;
 }

a:hover{
  color: rgb(0, 230, 0);
  text-decoration: none;
 }

body{
  background-color: black;
  color: gainsboro;
  font-family:  'IBM Plex Mono', 'Fira code', 'Courier New', Courier, monospace;;
 }

.container {
  display: flex;
  align-content: center;
 }

#content {
  margin-left: auto;
  margin-right: auto;
  width:800px;
 }

.project_wrapper {
  visibility: hidden;
  padding: 1% 2%;
  margin: 1%;
  background-color: rgb(10, 10, 10)
 }

.project_wrapper:hover{
  border-color: gray;
  background-color: rgb(31, 30, 30)
 }

.emphasis {
  color: rgb(0, 170, 0)
}

nav {
  padding-top: 3vh;
  padding-bottom: 3vh;
 }

.project_img_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_img {
  width: 100%;
  display: block;
  margin: auto;
  align-self: center;

 }

.project_head {
    vertical-align: top;
}
