a {
  color: rgb(0, 180, 0);
  text-decoration: none;
 }

a:hover{
  color: rgb(0, 230, 0);
  text-decoration: none;
 }

body{
  background-color: black;
  color: gainsboro;
  font-family:  'IBM Plex Mono', 'Fira code', 'Courier New', Courier, monospace;;
 }

.container {
  display: flex;
  align-content: center;
 }

#content {
  margin-left: auto;
  margin-right: auto;
  width:700px;
 }

.emphasis {
  color: rgb(0, 170, 0)
}

nav {
  padding-top: 3vh;
  padding-bottom: 3vh;
 }


