a {
  color: rgb(0, 180, 0);
  text-decoration: none;
}

a:hover{
    color: rgb(0, 230, 0);
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
